{% extends 'base.html' %}

{% block content %}

{% for customer in customer_r %}
<a href="{% url 'customer_record' %}" class="btn btn-primary">Back</a>

<a href="{% url 'update' customer.phone_no %}" class="btn btn-primary">Update Record</a>

<a href="{% url 'delete' customer.phone_no %}" class="btn btn-danger">Delete</a>
{% endfor %}

<br><br>

<div class="card">
  <div class="card-header"><strong>
    	{{ customer_rec.f_name }} 
		{{ customer_rec.l_name }}</strong>
  </div>
  <div class="card-body">
<p class="card-text">
<strong>Phone: </strong>{{ customer_rec.phone_no }}
</p>

<p class="card-text">
<strong>Created At: </strong>{{ customer_rec.created_at }}</p>

<br><br>
{% if sales %}
    <div class="card">
        <div class="card-header">
            <strong>Customer Spend</strong>
        </div>
    
      <div class="card-body">
        <p class="card-text">
        <strong>Total Paid: </strong>{{ total }}</p>
      <p class="card-text">
      <strong>Total Debt: </strong>{{ tot_debt }}</p>
    
{% endif %}
 
</div>
</div>
<br>
<div class="card">
    <div class="card-header">
        <strong>Sales</strong>
    </div>
<div class="card-body">

  {% if sales %}

    {% for sale in sales %}
    <p class="card-text">
      <strong>Product: </strong>{{ sale.product }}</p>
      <p class="card-text">
        <strong>Quantity: </strong>{{ sale.quantity }}</p>
  
        <p class="card-text">
        <strong>Cost: </strong>{{ sale.price }}</p>
        <p class="card-text">
          <strong>Paid: </strong>{{ sale.paid }}</p>
          <p class="card-text">
            <strong>Less Paid: </strong>{{ sale.debt }}</p>
  
        <p class="card-text">
        <strong>Date: </strong>{{ sale.date }}</p>

        <p class="card-text">
          <strong>Served By: </strong>{{ sale.served_by.username }}</p>
  
        
        <p>------------------------------</p>

    {% endfor %}
  {% else %}
  <p class="card-text">No Sales Yet!</p>

  {% endif %}


  </div>
</div>

<br/><br/>
{% endblock %}