{% extends 'base.html' %}

{% block content %}

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Created At</th>
	  <th scope="col">Route</th>
      <th scope="col">Attendant</th>

    </tr>
  </thead>
  <tbody>
    
	{% for data in customer_record %}
		<tr>
			<td>{{ data.f_name }} {{ data.l_name }}</td>
			<td><a href="{% url 'customer' data.phone_no %}">{{ data.phone_no }}</a></td>
			<td>{{ data.created_at|date:"d-m-Y" }}</td>
			<td>{{ data.route }}</td>
			<td>{{ data.user.username }}</td>
		</tr>

	{% endfor %}

	
	  </tbody>
	</table>

{% endblock %}
