{% extends 'base.html' %}

{% block content %}

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col">Client</th>
      <th scope="col">Date</th>
      <th scope="col">Product</th>
      <th scope="col">Quantity</th>
      <th scope="col">Cost</th>
      <th scope="col">Paid</th>
      <th scope="col">Less Paid</th>
      <th scope="col">Served By</th>

    </tr>
  </thead>
  <tbody>
    
	{% for data in sale_record %}
		<tr>
			<td>{{ data.client }}</td>
			<td>{{ data.date|date:"d-m-Y" }}</td>
      <td>{{ data.product }}</td>
      <td>{{ data.quantity }}</td>
      <td>{{ data.price }}</td>
      <td>{{ data.paid }}</td>
      <td>{{ data.debt }}</td>
      <td>{{ data.served_by.username }}</td>
    </tr>

	{% endfor %}

	</tbody>
	</table>

{% endblock %}
